@import 'colors';
@import 'media-queries';

%button-styles {
    color: #fff;
    background-color: $cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: .8rem 2.8rem;
    border-radius: 2.1rem;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: $cyanHover;
    }
}

%content-styles {
    width: 88%;
    background-color: white;
    text-align: center;
    margin: 1rem auto 5rem auto;
    border-radius: 10px;
    
    @include desktop {
        width: 92%;
        text-align: left;
    }
    & h3 {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 2.5rem 2rem 1.5rem 2rem;
        position: relative;
        top: -3rem;
    }
    & p {
        color: $grayishViolet;
        line-height: 1.7;
        font-size: .9rem;
        padding: 0 2.5rem;
        position: relative;
        top: -3rem;
        @include desktop {
            padding: 0 2rem;
        }
    }
}

%image-styles {
    margin: auto;
    width: 90px;
    height: 90px;
    background-color: $darkViolet;
    border-radius: 50%;
    padding: 22px;
    position: relative;
    top: -3rem;
    @include desktop {
        left: -5.5rem;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    gap: 2rem;
    grid-template-areas: 
        "illustration"
        "intro";
    margin-bottom: 11rem;

    @include desktop {
        grid-template-columns: 1.1fr .9fr;
        grid-template-areas: 
            "intro illustration";
        margin: 1rem 0 10rem 0;
    }

    .grid-item-1 {
        grid-area: illustration;
        width: 100%;
        overflow: hidden;
        & img {
            width: 140%;
            padding-left: 5%;
            @include desktop {
                width: auto;
            }
        }
    }
    .grid-item-2 {
        grid-area: intro;
        align-items: center;
        display: flex;
        flex-direction: column;
        @include desktop {
            align-items: baseline;
            margin: 3.5rem 0 0 10rem;
        }
        & h1 {
            font-size: 2.5rem;
            font-weight: 700;
            text-align: center;
            line-height: 1.2;
            padding: .8rem;
            @include desktop {
                font-size: 5rem;
                text-align: left;
                line-height: 1.1;
                padding: 0;
            }
        }
        & p {
            color: $grayishViolet;
            text-align: center;
            line-height: 1.7;
            padding: 0 1rem 2rem 1rem;
            @include desktop {
                text-align: left;
                padding: 0 0 2.5rem 0;
                font-size: 1.5rem;
                line-height: 1.6;
            }
        }
        & button {
            @extend %button-styles;
        }
    }
}

.grid-content {
    background-color: $contentBG;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "input"
        "content"
        "subcontent1"
        "subcontent2"
        "subcontent3"
        "boost";

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "input input input"
            "content content content"
            "subcontent1 subcontent2 subcontent3"
            "boost boost boost";
        padding: 0 10rem 8rem 10rem;
    }
    .grid-item-3 {
        grid-area: input;
        background-image: url('../images/bg-shorten-mobile.svg');
        background-color: $darkViolet;
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 70%;
        width: 88%;
        margin: 0 auto 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        border-radius: .7rem;
        position: relative;
        top: -5rem;

        @include desktop {
            background-image: url('../images/bg-shorten-desktop.svg');
            background-position: center;
            background-size: cover;
            padding: 3.5rem;
            width: 100%;
        }
        & form {
            width: 100%;
            @include desktop {
                display: flex;
                flex-direction: row;
            }
            
            > * {
                font-size: 1.1rem;
                padding: .7rem;
                border-radius: .3rem;
                border: none;
                width: 100%;
                @include desktop {
                    font-size: 1.3rem;
                    border-radius: .5rem;
                }
            }
            & input {
                margin-bottom: 1rem;
                padding-left: 1rem;
                @include desktop {
                    margin-bottom: 0;
                    padding: 1rem 2rem;
                    flex: auto;
                }
            }
            & button {
                color: #fff;
                background-color: $cyan;
                font-weight: 700;
                cursor: pointer;
                &:hover {
                    background-color: $cyanHover;
                }
                @include desktop {
                    flex: none;
                    width: auto;
                    margin-left: 1.5rem;
                    padding: 1rem 2.5rem;
                }
            }
        }
    }
    .grid-item-4 {
        grid-area: content;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        & h2 {
            font-size: 1.8rem;
            font-weight: 700;
            text-align: center;
            line-height: 1.2;
            padding: 1rem;
            @include desktop {
                font-size: 2.5rem;
            }
        }
        & p {
            color: $grayishViolet;
            text-align: center;
            line-height: 1.7;
            font-size: 1rem;
            padding: .5rem 1rem 2rem 1rem;
            @include desktop {
                font-size: 1.3rem;
                width: 58%;
            }
        }
    }
    .grid-item-5 {
        grid-area: subcontent1;
        @extend %content-styles;
        &-image {
            @extend %image-styles;
        }
    }
    .grid-item-6 {
        grid-area: subcontent2;
        @extend %content-styles;
        @include desktop {
            position: relative;
            top: 3rem;
        }
        &-image {
            @extend %image-styles;
        }
    }
    .grid-item-7 {
        grid-area: subcontent3;
        @extend %content-styles;
        @include desktop {
            position: relative;
            top: 6rem;
        }
        &-image {
            @extend %image-styles;
        }
    }
}

.grid-item-8 {
    grid-area: boost;
    background-image: url(../images/bg-boost-mobile.svg);
    background-color: $darkViolet;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktop {
        background-image: url(../images/bg-boost-desktop.svg);
        height: 250px;
    }

    &-boost {
        display: flex;
        flex-direction: column;
        align-items: center;
        & h2 {
            font-size: 1.7rem;
            font-weight: 700;
            color: white;
            text-align: center;
            line-height: 1.2;
            padding-bottom: 1.5rem;
            @include desktop {
                font-size: 2.5rem;
                padding-bottom: 2rem;
            }
        }
        & button {
            @extend %button-styles;
        }
    }
}