@import 'colors';
@import 'media-queries';

%button-styles {
    color: #fff;
    background-color: $cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    &:hover {
        opacity: .6;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    gap: 2rem;
    grid-template-areas: 
        "illustration"
        "intro"
        "input"
        "content"
        "subcontent1"
        "subcontent2"
        "subcontent3"
        "button";

    @include desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "intro intro illustration"
            "input input input"
            "content content content"
            "subcontent1 subcontent2 subcontent3"
            "button button button";
    }
}

.grid-item-1 {
    grid-area: illustration;
}
.grid-item-2 {
    grid-area: intro;
}
.grid-item-3 {
    grid-area: input;
}
.grid-item-4 {
    grid-area: content;
}
.grid-item-5 {
    grid-area: subcontent1;
}
.grid-item-6 {
    grid-area: subcontent2;
}
.grid-item-7 {
    grid-area: subcontent3;
}
.grid-item-8 {
    grid-area: button;
}