@import 'colors';
@import 'media-queries';

.navbar {
    height: 6rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    font-weight: 700;
    width: 100%;
    @include desktop {
        margin-top: 4rem;
    }

    &-logo {
        flex: auto;
        margin-left: 1.5rem;
        @include desktop {
            margin-left: 10rem;
            flex: none;
        }
        & img {
            cursor: pointer;
        }

    }
    &-bar {
        color: $grayishViolet;
        opacity: 1;
        font-size: 2rem;
        flex: none;
        margin: 0 1.5rem;
        @include desktop {
            opacity: 0;
        }
    }
    &-menu-a {
        // list-style: none;
        display: none;

        @include desktop {
            display: flex;
            align-items: flex-start;
            justify-content: left;
            text-align: left;
            flex: auto;
            margin-top: .2rem;
            margin-left: -1.5rem;
        }

        &-link {
            color: $gray;
            @include desktop {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-size: 1rem;
                padding-right: 2rem;
            }
            &:hover {
                color: $veryDarkViolet;
            }
        }
    }
    &-menu-b {
        // list-style: none;
        display: none;

        @include desktop {
            display: flex;
            align-items: flex-start;
            justify-content: left;
            flex: none;
            margin: .2rem 10rem 0 0;
        }

        &-link {
            color: $gray;
            @include desktop {
                display: flex;
                align-items: flex-start;
                justify-content: right;
                text-decoration: none;
                margin-right: 2rem;
                font-size: 1rem;
                padding: 0 .5rem;
            }
            &:hover {
                color: $veryDarkViolet;
            }
        }
        &-button {
            color: #fff;
            background-color: $cyan;
            @include desktop {
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                border-radius: 2rem;
                margin-top: -.8rem;
                font-size: 1rem;
                padding: .8rem 1.5rem;
            }
            &:hover {
                background-color: $cyanHover;
            }
        }
    }
}