.navbar {
  height: 6rem;
  z-index: 1;
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
  font-weight: 700;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .navbar {
    margin-top: 4rem;
  }
}
.navbar-logo {
  flex: auto;
  margin-left: 1.5rem;
}
@media screen and (min-width: 1000px) {
  .navbar-logo {
    margin-left: 10rem;
    flex: none;
  }
}
.navbar-logo img {
  cursor: pointer;
}
.navbar-bar {
  color: #9e9aa7;
  opacity: 1;
  font-size: 2rem;
  flex: none;
  margin: 0 1.5rem;
}
@media screen and (min-width: 1000px) {
  .navbar-bar {
    opacity: 0;
  }
}
.navbar-menu-a {
  display: none;
}
@media screen and (min-width: 1000px) {
  .navbar-menu-a {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    flex: auto;
    margin-top: 0.2rem;
    margin-left: -1.5rem;
  }
}
.navbar-menu-a-link {
  color: #bfbfbf;
}
@media screen and (min-width: 1000px) {
  .navbar-menu-a-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
    padding-right: 2rem;
  }
}
.navbar-menu-a-link:hover {
  color: #232127;
}
.navbar-menu-b {
  display: none;
}
@media screen and (min-width: 1000px) {
  .navbar-menu-b {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex: none;
    margin: 0.2rem 10rem 0 0;
  }
}
.navbar-menu-b-link {
  color: #bfbfbf;
}
@media screen and (min-width: 1000px) {
  .navbar-menu-b-link {
    display: flex;
    align-items: flex-start;
    justify-content: right;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}
.navbar-menu-b-link:hover {
  color: #232127;
}
.navbar-menu-b-button {
  color: #fff;
  background-color: #2acfcf;
}
@media screen and (min-width: 1000px) {
  .navbar-menu-b-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 2rem;
    margin-top: -0.8rem;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}
.navbar-menu-b-button:hover {
  background-color: #80e5e5;
}

.grid-item-8-boost button, .grid-container .grid-item-2 button {
  color: #fff;
  background-color: #2acfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.8rem 2.8rem;
  border-radius: 2.1rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.grid-item-8-boost button:hover, .grid-container .grid-item-2 button:hover {
  background-color: #80e5e5;
}

.grid-content .grid-item-7, .grid-content .grid-item-6, .grid-content .grid-item-5 {
  width: 88%;
  background-color: white;
  text-align: center;
  margin: 1rem auto 5rem auto;
  border-radius: 10px;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-7, .grid-content .grid-item-6, .grid-content .grid-item-5 {
    width: 92%;
    text-align: left;
  }
}
.grid-content .grid-item-7 h3, .grid-content .grid-item-6 h3, .grid-content .grid-item-5 h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2.5rem 2rem 1.5rem 2rem;
  position: relative;
  top: -3rem;
}
.grid-content .grid-item-7 p, .grid-content .grid-item-6 p, .grid-content .grid-item-5 p {
  color: #9e9aa7;
  line-height: 1.7;
  font-size: 0.9rem;
  padding: 0 2.5rem;
  position: relative;
  top: -3rem;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-7 p, .grid-content .grid-item-6 p, .grid-content .grid-item-5 p {
    padding: 0 2rem;
  }
}

.grid-content .grid-item-7-image, .grid-content .grid-item-6-image, .grid-content .grid-item-5-image {
  margin: auto;
  width: 90px;
  height: 90px;
  background-color: #3b3054;
  border-radius: 50%;
  padding: 22px;
  position: relative;
  top: -3rem;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-7-image, .grid-content .grid-item-6-image, .grid-content .grid-item-5-image {
    left: -5.5rem;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 2rem;
  gap: 2rem;
  grid-template-areas: "illustration" "intro";
  margin-bottom: 11rem;
}
@media screen and (min-width: 1000px) {
  .grid-container {
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-areas: "intro illustration";
    margin: 1rem 0 10rem 0;
  }
}
.grid-container .grid-item-1 {
  grid-area: illustration;
  width: 100%;
  overflow: hidden;
}
.grid-container .grid-item-1 img {
  width: 140%;
  padding-left: 5%;
}
@media screen and (min-width: 1000px) {
  .grid-container .grid-item-1 img {
    width: auto;
  }
}
.grid-container .grid-item-2 {
  grid-area: intro;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1000px) {
  .grid-container .grid-item-2 {
    align-items: baseline;
    margin: 3.5rem 0 0 10rem;
  }
}
.grid-container .grid-item-2 h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  padding: 0.8rem;
}
@media screen and (min-width: 1000px) {
  .grid-container .grid-item-2 h1 {
    font-size: 5rem;
    text-align: left;
    line-height: 1.1;
    padding: 0;
  }
}
.grid-container .grid-item-2 p {
  color: #9e9aa7;
  text-align: center;
  line-height: 1.7;
  padding: 0 1rem 2rem 1rem;
}
@media screen and (min-width: 1000px) {
  .grid-container .grid-item-2 p {
    text-align: left;
    padding: 0 0 2.5rem 0;
    font-size: 1.5rem;
    line-height: 1.6;
  }
}
.grid-content {
  background-color: #EFF1F7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "input" "content" "subcontent1" "subcontent2" "subcontent3" "boost";
}
@media screen and (min-width: 1000px) {
  .grid-content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "input input input" "content content content" "subcontent1 subcontent2 subcontent3" "boost boost boost";
    padding: 0 10rem 8rem 10rem;
  }
}
.grid-content .grid-item-3 {
  grid-area: input;
  background-image: url("../images/bg-shorten-mobile.svg");
  background-color: #3b3054;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 88%;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 0.7rem;
  position: relative;
  top: -5rem;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-3 {
    background-image: url("../images/bg-shorten-desktop.svg");
    background-position: center;
    background-size: cover;
    padding: 3.5rem;
    width: 100%;
  }
}
.grid-content .grid-item-3 form {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-3 form {
    display: flex;
    flex-direction: row;
  }
}
.grid-content .grid-item-3 form > * {
  font-size: 1.1rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: none;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-3 form > * {
    font-size: 1.3rem;
    border-radius: 0.5rem;
  }
}
.grid-content .grid-item-3 form input {
  margin-bottom: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-3 form input {
    margin-bottom: 0;
    padding: 1rem 2rem;
    flex: auto;
  }
}
.grid-content .grid-item-3 form button {
  color: #fff;
  background-color: #2acfcf;
  font-weight: 700;
  cursor: pointer;
}
.grid-content .grid-item-3 form button:hover {
  background-color: #80e5e5;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-3 form button {
    flex: none;
    width: auto;
    margin-left: 1.5rem;
    padding: 1rem 2.5rem;
  }
}
.grid-content .grid-item-4 {
  grid-area: content;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.grid-content .grid-item-4 h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  padding: 1rem;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-4 h2 {
    font-size: 2.5rem;
  }
}
.grid-content .grid-item-4 p {
  color: #9e9aa7;
  text-align: center;
  line-height: 1.7;
  font-size: 1rem;
  padding: 0.5rem 1rem 2rem 1rem;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-4 p {
    font-size: 1.3rem;
    width: 58%;
  }
}
.grid-content .grid-item-5 {
  grid-area: subcontent1;
}
.grid-content .grid-item-6 {
  grid-area: subcontent2;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-6 {
    position: relative;
    top: 3rem;
  }
}
.grid-content .grid-item-7 {
  grid-area: subcontent3;
}
@media screen and (min-width: 1000px) {
  .grid-content .grid-item-7 {
    position: relative;
    top: 6rem;
  }
}
.grid-item-8 {
  grid-area: boost;
  background-image: url(../images/bg-boost-mobile.svg);
  background-color: #3b3054;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1000px) {
  .grid-item-8 {
    background-image: url(../images/bg-boost-desktop.svg);
    height: 250px;
  }
}
.grid-item-8-boost {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-item-8-boost h2 {
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 1000px) {
  .grid-item-8-boost h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
}
.grid-footer-container .grid-ft-4, .grid-footer-container .grid-ft-3, .grid-footer-container .grid-ft-2 {
  margin: 0.5rem 3rem 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
@media screen and (min-width: 1000px) {
  .grid-footer-container .grid-ft-4, .grid-footer-container .grid-ft-3, .grid-footer-container .grid-ft-2 {
    align-items: baseline;
    flex: none;
  }
}
.grid-footer-container .grid-ft-4 p, .grid-footer-container .grid-ft-3 p, .grid-footer-container .grid-ft-2 p {
  color: #fff;
  font-weight: 700;
  margin-bottom: 2rem;
}
.grid-footer-container .grid-ft-4 a, .grid-footer-container .grid-ft-3 a, .grid-footer-container .grid-ft-2 a {
  text-decoration: none;
  color: #9e9aa7;
  font-weight: 500;
  margin-bottom: 1rem;
}
.grid-footer-container .grid-ft-4 a:hover, .grid-footer-container .grid-ft-3 a:hover, .grid-footer-container .grid-ft-2 a:hover {
  cursor: pointer;
  color: #2acfcf;
}

.grid-footer-container {
  background-color: #232127;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo" "features" "resources" "company" "icons";
}
@media screen and (min-width: 1000px) {
  .grid-footer-container {
    display: flex;
    flex-direction: row;
    padding: 5rem 10rem 2rem 10rem;
  }
}
.grid-footer-container .grid-ft-1 {
  grid-area: logo;
  color: white;
  margin: 3rem auto;
}
@media screen and (min-width: 1000px) {
  .grid-footer-container .grid-ft-1 {
    margin: 0;
    flex: auto;
  }
}
.grid-footer-container .grid-ft-2 {
  grid-area: features;
}
.grid-footer-container .grid-ft-3 {
  grid-area: resources;
}
.grid-footer-container .grid-ft-4 {
  grid-area: company;
}
.grid-footer-container .grid-ft-5 {
  grid-area: icons;
  margin: 0 auto 4rem auto;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .grid-footer-container .grid-ft-5 {
    margin: 0 0 4rem 3rem;
    align-items: baseline;
  }
}
.grid-footer-container .grid-ft-5 img {
  padding: 0 0.5rem 0 0.5rem;
}
.grid-footer-container .grid-ft-5 img:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(73%) sepia(100%) saturate(339%) hue-rotate(120deg) brightness(81%) contrast(101%);
}
@media screen and (min-width: 1000px) {
  .grid-footer-container .grid-ft-5 img {
    padding: 0.5rem;
  }
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}/*# sourceMappingURL=styles.css.map */